@tailwind base;
@tailwind components;
@tailwind utilities;

.gradiant {
  width: 100vw;
  height: 100vh;
  position: fixed;
  pointer-events: none;
  opacity: 0.4;
  @apply bg-gradient-to-br from-indigo-200 via-red-200 to-yellow-100;
}

@media screen and (max-width: 640px) {
  .gradiant {
    padding: 0;
  }
}

/* Tailwind CSS */
.app {
  @apply relative z-10 flex justify-center items-center flex-col max-w-7xl mx-auto sm:px-16 px-6;
}

.black-btn {
  @apply bg-black border border-black rounded-full py-1 px-2 text-sm text-white transition-all hover:bg-white hover:text-black;
}

.head-text {
  @apply text-black text-2xl font-extrabold text-center leading-[1.15] sm:text-4xl;
}

.desc {
  @apply mt-5 text-gray-600 text-center text-sm sm:text-lg max-w-2xl;
}

.url-input {
  @apply block w-full rounded-md border border-gray-200 bg-white py-2.5 pl-10 pr-12 text-sm shadow-lg font-satoshi font-medium focus:border-black focus:outline-none;
}

.submit-btn {
  @apply hover:border-gray-700 absolute inset-y-0 right-0 my-1.5 mr-1.5 flex w-10 items-center justify-center rounded border border-gray-200 text-sm font-medium text-gray-400;
}

.link-card {
  @apply p-2 text-sm flex justify-start items-center flex-row bg-white border border-gray-200 gap-3 rounded-lg cursor-pointer;
}

.copy-btn {
  @apply w-7 h-7 rounded-full bg-white/10 flex justify-center items-center shadow-[inset_10px_-50px_94px_0_rgb(199,199,199,0.2)] backdrop-blur;
}

.summary-box {
  @apply rounded-xl border border-gray-200 bg-white/20 shadow-[inset_10px_-50px_94px_0_rgb(199,199,199,0.2)] backdrop-blur p-4;
}
